.header {
    $root: &;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 540px;
    margin: 0 auto 48px auto;

    &__title {
        font-size: clamp(1.8rem, 6vw, 2.5rem);
        font-weight: 600;
        letter-spacing: 15px;
        color: white;
    }

    &__switch {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;

        &:focus {
            outline: 2px dotted $c-text;
            outline-offset: 2px;
        }
    }

    &__switch-icon {
        &--sun,
        &--mooon {
            position: absolute;
        }

        &--sun {
            &::before {
                opacity: 0;
                transition: opacity 300ms ease-in;
            }
        }

        body[data-theme="dark"] &--sun {
            &::before {
                opacity: 1;
            }
        }

        &--moon {
            &::before {
                opacity: 0;
                transition: opacity 300ms ease-in;
            }
        }

        body[data-theme="light"] &--moon {
            &::before {
                opacity: 1;
            }
        }
    }
}