.header {
    $root: &;
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    margin: 0 auto 48px auto;

    &__title {
        font-size: clamp(1.8rem, 6vw, 2.5rem);
        font-weight: 600;
        letter-spacing: 15px;
        color: white;
    }

    &__switch {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__switch-icon {
        display: none;
        animation: fade-in-opacity 1s forwards;

        &.active {
            display: block;
        }
    }
}