.toast {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px); // -48px to keep body padding
    max-width: 540px;
    
    &__item {
        display: flex;
        align-items: center;
        padding: 13px;
        margin-bottom: 10px;
        background: $c-toast-default;
        color: #000;
        font-family: $ff-secondary;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        visibility: hidden;
        opacity: 0;
        cursor: pointer;

        &--success {
            background: $c-toast-success;
            border-color: rgba(0, 0, 0, 0.1);
            color: $c-toast-text;

            &:hover {
                background: lighten($c-toast-success, 2%);
            }
        }

        &--error {
            background: $c-toast-error;
            border-color: rgba(0, 0, 0, 0.1);
            color: $c-toast-text;

            &:hover {
                background: lighten($c-toast-error, 5%);
            }
        }

        &--info {
            background: $c-toast-info;
            border-color: rgba(0, 0, 0, 0.1);
            color: $c-toast-text;

            &:hover {
                background: lighten($c-toast-info, 5%);
            }
        }

        &-icon {
            font-size: 1.5rem;
            margin-right: 13px;
        }
    }
}